<h1>Notes</h1>
<hr>
<ul class="list-group">
<% @notes.each do |note| %>
  <li class="list-item"><%= link_to note.title.capitalize, note_path(note) %></li>
<% end %>
</ul>
<hr>
<%= link_to "New note", new_note_path, class: "btn btn-warning" %>
