  <center>
    <h3> Igor Tonachov </h3>
    <h5> Portfolio for Light IT </h5>
    <hr>

    <p> 
      Hi! I'm beginner Ruby on Rails developer. And I looking for job in team where I can learn much more than I know now and much faster. This simple Rils application show the level of my development skills.Here I use Ruby version 4.2.4 and Rails version 2.2.3 Use carriewave gem for upload images and bootstrap for basic styling.
    </p>


    <p> 
      https://github.com/16012jan/notes_app
    </p>

    <p>
      https://vast-sea-2408.herokuapp.com/
    </p>
  </center>
</div>